.SearchBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    margin: 1rem auto 0;
    padding: 1rem 0;
    border-bottom: 1px solid;
}

.SearchBar .wrapper ul.ProductList {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width:  1100px;
    padding: 1rem;
    min-height: 50px;
    position: relative;
}
.SearchBar .wrapper ul.ProductList li {
    background: white;
}
.SearchBar label span{
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;
}
.SearchBar > p{
    margin: 0 0 1rem 0;
}
.SearchBar button.close {
    margin: auto;
    display: flex;
    margin-top: .5rem;
    border-radius: 100%;
    height: 1.5rem;
    width: 1.5rem;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,.2);
}
.SearchBar .wrapper{
    width: 100%;
}
.SearchBar .searchbox{
    border-radius: 3px;
    border: 1px solid;
    font-size: 1rem;
    text-align: center;
}
@media (max-width: 768px){
.SearchBar .wrapper ul.ProductList {
      grid-template-columns: 1fr 1fr;
    }
}